<a href="https://colab.research.google.com/github/Cristal-Lenny/python-googlecolab/blob/main/prueba01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

clase Python 17/06/22

Ejercicio lista-tupla Dada la siguiente tupla, crear una lista que sólo incluya los números menores a 5.

In [23]:
z = (13, 1, 8, 3, 2, 5, 8)
listaZ= list(z)
print(listaZ)

[13, 1, 8, 3, 2, 5, 8]


ejercicios
---

Ej1 sistema de calificaciones

In [ ]:
x = int(input("ingrese su nota: "))
if x == 9 or x == 10:
  print("A")
elif x == 8 or x >= 9:
  print("B")
elif x == 7 or x >= 8:
  print("c")
elif x == 6 or x >= 7:
  print("D")
elif x <0 or x <= 5:
  print("F")
else:
  print("valor incorrecto")

ingrese su nota: 2
F

In [ ]:
x = int(input("ingrese su nota: "))
if x >= 9 and x <= 10:
  print("A")
elif x >= 8 and x <= 9:
  print("B")
elif x >= 7 and x <= 8:
  print("c")
elif x >= 6 and x <= 7:
  print("D")
elif x > 0 and x <= 5:
  print("F")
else:
  print("valor incorrecto")

ingrese su nota: 11
valor incorrecto

Ej 2 Imprimir los números enteros del 0 al 5 con un ciclo while

In [ ]:
num =0
while num <= 5:
  print(num)
  num = num +1

0
1
2
3
4
5

In [ ]:
num =0
while num < 5:
  num = num +1
  print(num)

1
2
3
4
5

In [ ]:
cadena = "hola"
for w in cadena:
  print(w)
else:
  print ("finde ciclo for")

h
o
l
a
finde ciclo for

In [ ]:
for i in "holanda":
 if i == "a":
   print(f"letra encontrda: {i}")
   break
else:
  print ("finde ciclo")

letra encontrda: a

la f sustituye el valor {i} por el valor real que queremos ver
el break indica que se pare hasta donde yo quiero

In [ ]:
for i in range(6):
  if i % 2 !=0 :
    continue
  print(f"letra encontrada: {i}")

letra encontrada: 0
letra encontrada: 2
letra encontrada: 4

In [ ]:
for i in range(6):
  if i % 2 == 0 :
    # continue
    print(f"letra encontrada: {i}")

letra encontrada: 0
letra encontrada: 2
letra encontrada: 4

salen los pares porque continue esta oculto con#

In [ ]:
for i in range(6):
  if i % 2 == 0 :
    continue
  print(f"letra encontrada: {i}")

letra encontrada: 1
letra encontrada: 3
letra encontrada: 5

con == valores con resto de la división iguales a 0 (pares),  !=  valores con resto de la divion diferentes a 0 (impares). En este caso el continue frena la aparicion de los pares que serian los que tendrian que salir

clase Python 16-06-22

Listas

In [ ]:
nombres = ["juan", "ricardo", "karla", "maria"]
print(nombres)

['juan', 'ricardo', 'karla', 'maria']

In [ ]:
nombres = ["juan", "ricardo", "karla", "maria"]
nombres[-1]

'maria'

ejercicio3.1 Iterar un rango de 0 a 10 e imprimir números divisibles entre 3

In [ ]:
for i in range(10):
  if i % 3 !=0 :
    continue
  print(f"letra encontrada: {i}")

letra encontrada: 0
letra encontrada: 3
letra encontrada: 6
letra encontrada: 9

ej3.2 Iterar un rango de 0 a 10 e imprimir números divisibles entre 3

In [ ]:
rango = [0, 1, 2, 3, 4, 5, 6 ,7,8,9,10]
rango[2:7]

[2, 3, 4, 5, 6]

ej3.3 Crear un rango de 3 a 10, pero con incremento de 2 en 2, en lugar de 1 en 1

In [ ]:
i = 3
while i <= 10:
  i += 2
  if i >= 10:
    break
  print(i)

5
7
9

In [ ]:
i = 3
while i < 9:
  i += 2
  print(i)

5
7
9

In [ ]:
condicion = input("ingrese True o false: ")
if condicion == True:
  print("es verdad")
else:
  print("es falso")

ingrese True o false: True
es falso

In [ ]:
## recordar que hay que indicar que estamos trabajando con un tipo de dato booleane

In [ ]:
condicion = bool(input("ingrese True o false: "))
if condicion == True:
  print("es verdad")
else:
  print("es falso")

ingrese True o false: False
es verdad

In [ ]:
condicion = bool(input("ingrese True o false: "))
if condicion == True:
  print("es verdad")
else:
  print("es falso")

ingrese True o false:
es falso

In [ ]:
## en este caso siempre será verdad si ingresamos un dato, solo será falso si no introducciomos nada, para que responda solo a la palabra true o false seria "true"

In [ ]:
condicion = input("ingrese True o false: ")
if condicion == "True":
  print ("es verdad")
elif condicion == "false":
  print("es falso")
else: 
  print("no encontrado")

ingrese True o false: false
es falso

In [ ]:
x = input("ingrese 1 o 2: ")
if x == "1":
  print("es verdad")
elif x == "2":
  print("es false")
else:
  print("no encontrado")

ingrese 1 o 2: d
no encontrado

In [ ]:
x = int(input("Ingrese 1 o 2: "))
if x == 1:
  print("es verdad")
elif x == 2:
  print("es false")
else:
  print("no encontrado")

Ingrese 1 o 2: 3
no encontrado

In [ ]:
## poner dos condiciones en una línea

In [ ]:
x = int(input("Ingrese 1 o 2: "))
if x == 1 or x == 2:
  print("es verdad")
else:
  print("no encontrado")

Ingrese 1 o 2: 2
es verdad

In [ ]:
x = 2
y = 4

if x == 2 and y == 4 :
  print("es verdad")
else:
  print("no encontrado")

NameError: ignored

In [ ]:
num =2
while num < 80:
  num = num *2
  print(num)

4
8
16
32
64
128

In [ ]:
numero = int(input)

clase Python 15-06-22

In [ ]:
print("Hola")

Hola

In [ ]:
numero1 = int(input("ingrese el primer número: "))

ingrese el primer número: 5

In [ ]:
numero2 = int(input("ingrese el segundo número: "))

ingrese el segundo número: 3

In [ ]:
total = numero1 + numero2
total
print (total)

8

In [ ]:
miCajita =  2
print(miCajita)
print(miCajita)
print(miCajita)

2
2
2

In [ ]:
miCajita =  6
print(miCajita)

6

In [ ]:
x = 2
y = 4
z = x + y
print (x)
print (y)
print (z)

2
4
6

In [ ]:
x = 5
Y = '6'
print(x)
print(Y)
print(type(x))
print(type(Y))

5
6
<class 'int'>
<class 'str'>

In [ ]:
3 == '3'

False

In [ ]:
3 != '3'

True

In [ ]:
'caja' == 'caja'

True

In [ ]:
3

## texto con letra más pequeña

#

para hacer comentarios